@import "variables.json";

// Primary/Secondary
$pumpkin:               map-get($colors, pumpkin);
$cerulean:              map-get($colors, cerulean);
$sandstone:             map-get($colors, sandstone);
$sienna:                map-get($colors, sienna);

// Neutral
$gray:                  map-get($colors, gray);
$lightGray:             map-get($colors, lightGray);

// Error
$error:                  map-get($colors, error);
