/*
	Triangle
	--------
		The idea is a box with zero width and height. The actual width and
		height of the arrow is determined by the width of the border.
		In an up arrow, for example, the bottom border is colored while the
		left and right are transparent, which forms the triangle.

	Possible Arguements:
	--------------------
		$size: in px|em|rem|%
		$color: in hex, rgb, rgba
		$direction: up|up-left|up-right|down|down-left|down-right|left|right

  	Example:
  	--------
  		.something{
			@include triangle(40px, black, up);
  		}

  	Renders:
  	--------
	  	.something {
		  	height: 0;
		  	width: 0;
		  	border-left: 40px solid transparent;
		  	border-right: 40px solid transparent;
		  	border-bottom: 40px solid black;
		}
*/

@mixin triangle($size, $color, $direction) {
	height: 0;
	width: 0;
	$width: nth($size, 1);
	$height: nth($size, length($size));
	$foreground-color: nth($color, 1);
	$background-color: if(length($color) == 2, nth($color, 2), transparent);

	@if $direction == up or $direction == down or $direction == right or $direction == left {
		@if $direction == up {
			border-left: $width solid $background-color;
			border-right: $width solid $background-color;
			border-bottom: $height solid $foreground-color;
		}

		@else if $direction == right {
			border-top: $width solid $background-color;
			border-bottom: $width solid $background-color;
			border-left: $height solid $foreground-color;
		}

		@else if $direction == down {
			border-left: $width solid $background-color;
			border-right: $width solid $background-color;
			border-top: $height solid $foreground-color;
		}

		@else if $direction == left {
			border-top: $width solid $background-color;
			border-bottom: $width solid $background-color;
			border-right: $height solid $foreground-color;
		}
	}

	@else if $direction == up-right or $direction == up-left {
		border-top: $height solid $foreground-color;

		@if $direction == up-right {
			border-left: $width solid $background-color;
		}

		@else if $direction == up-left {
			border-right: $width solid $background-color;
		}
	}

	@else if $direction == down-right or $direction == down-left {
		border-bottom: $height solid $foreground-color;

		@if $direction == down-right {
			border-left: $width solid $background-color;
		}

		@else if $direction == down-left {
			border-right: $width solid $background-color;
		}
	}

	@else if $direction == inset-up {
		border-width: $height $width;
		border-style: solid;
		border-color: $background-color $background-color $foreground-color;
	}

	@else if $direction == inset-down {
		border-width: $height $width;
		border-style: solid;
		border-color: $foreground-color $background-color $background-color;
	}

	@else if $direction == inset-right {
		border-width: $width $height;
		border-style: solid;
		border-color: $background-color $background-color $background-color $foreground-color;
	}

	@else if $direction == inset-left {
		border-width: $width $height;
		border-style: solid;
		border-color: $background-color $foreground-color $background-color $background-color;
	}
}
