@import "variables";
@import "functions";
@import "mixins";
@import "fonts";

html {
	box-sizing: border-box;

	font: normal 400 #{$font-size-base}/#{$line-height-base} $font-family-base;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	overflow-x: hidden;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}
