/**
 * @color-classes.scss
 * global classes for backgrounds and colors
 * .background-$color | .color-$color
 */

$colors:
	"pumpkin"               $pumpkin,
	"gray"                  $gray,
	"lightGray"             $lightGray;

@each $i in $colors{
	.background-#{nth($i, 1)} {
		background: nth($i, 2);
	}
	.color-#{nth($i, 1)} {
		color:nth($i, 2);
	}
}
